@import 'variables';

@font-face {
  font-family: "RedHat";
  src: url("./assets/fonts/static/RedHatText-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "RedHat";
  src: url("./assets/fonts/static/RedHatText-Bold.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "RedHat";
  src: url("./assets/fonts/static/RedHatText-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
} 

body {
  font-family: 'RedHat', sans-serif ;
  background-color: $rose50;
  min-height: 100vh;
}

.home {
    display: flex;
    justify-content: space-around;
    min-height: 100vh;
}